:root {
  --font-primary: "Atkinson Hyperlegible", sans-serif;
  --bg-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
html {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}
a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--link-hover);
  }
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
